.container{
    width: 90vw;
    height: 90vh;
    background-color: rgb(235, 133, 255);
    display: grid;
    gap:10px;
    padding:10px;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 100px 1fr auto;

}

.title, .menu, .main , .footer{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}
.title{
    background-color: rgb(205, 255, 172);
    /* grid-column-start: 1;
    grid-column-end: 2; */
    
}
.menu{
    background-color: #b4c8ff;
    grid-row-start: 2;
    grid-row-end: 4;
}
.main{
    background-color: #fe8aad;
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}
.footer{
    background-color: #ffadad;
    grid-column-start: 2;
    grid-column-end: 3;
}